@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}

p {
  font-size: 12px;
  color: var(--textos);
}

h1 {
  font-size: 26px;
  color: var(--titulos);
  padding-bottom: 20px;
}

h2 {
  font-size: 22px;
  color: var(--titulos);
}

h3 {
  font-size: 18px;
  color: var(--titulos);
}

a,
button {
  cursor: pointer;
}

.header-page {
  background-color: var(--fondo-Cabecera);
  color: white;
  padding: 0.5em;
}

.logo {
  width: 150px;
}

header ul {
  background-color: var(--fondo-Menu);
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 45px;
}

header ul li {
  list-style: none;
}

header ul li p {
  color: white;
}

.boton-paso,
.boton-generales {
  background-color: var(--magenta);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 10px;
}

.boton-generales {
  background-color: var(--celeste);
}

.selectCargo {
  max-width: 300px;
}

.boton-filtrar-container {
  width: 100px;
}

.boton-filtrar-container li {
  width: 100%;
}

.boton-filtrar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  color: var(--textos);
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 70px;
}

.boton-inicio-container {
  width: 100%;
}

.boton-inicio {
  background-color: var(--gris-claro);
  border-radius: 5px;
  padding: 8px 20px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  float: right;
}

header ul li a {
  text-decoration: none;
}

.boton-paso:hover,
.boton-generales:hover,
header ul li a:hover {
  background-color: var(--gris-claro);
}

.boton-informes {
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 15px;
  padding: 9px 15px;
  font-size: 10px;
}

.sec-titulo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.sec-titulo-texto {
  width: 40%;
}

.sec-titulo-texto h2 {
  font-size: 45px;
  margin: 0;
  color: rgb(27, 27, 27);
}

.sec-titulo-texto p {
  color: rgb(95, 95, 95);
  line-height: 25px;
  font-size: 18px;
  margin: 30px 0;
}

.sec-titulo-container img {
  margin: 15px;
  width: 350px;
}

#sec-contenido {
  width: 90%;
  margin: auto;
}

.main-botones {
  display: flex;
  justify-content: center;
}

.main-boton-paso,
.main-boton-generales {
  background-color: var(--magenta);
  border-radius: 10px;
  margin: 25px;
  width: 400px;
  height: 100px;
  padding: 1rem;
  color: white;
  font-size: 28px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.main-boton-generales {
  background-color: var(--celeste);
}

footer {
  background-color: var(--fondo-Footer);
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.footer-images {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
}

footer img {
  width: 150px;
  object-fit: contain;
}

footer p {
  color: var(--texto-footer);
  width: 60%;
  line-height: 25px;
}

#success,
#error,
#warning {
  display: none;
  position: relative;
  right: 0;
}

.carteles {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carteles div {
  width: 400px;
  margin: 0;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.carteles div:first-child {
  background-color: var(--mensaje-usuario-verde);
}

.carteles div:nth-child(2) {
  background-color: var(--mensaje-usuario-rojo);
}

.carteles div:nth-child(3) {
  background-color: var(--mensaje-usuario-amarillo);
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  opacity: 0.8;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#loader {
  display: none;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
  transform: rotate(-90deg);
}
.chart-wrap.horizontal .bar::after {
  /* giramos las letras para horizontal*/
  transform: rotate(45deg);
  padding-top: 0px;
  display: block;
}
.chart-wrap .grid {
  position: relative;
  padding: 5px 0 5px 0;
  height: 100%;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid var(--grid-color);
  font-size: 10px;
}
/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  left: -0.5em;
  top: -1.5em;
}
.chart-wrap .grid::after {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}
/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
  transform: rotate(90deg);
}
/* LAS VARIABLES PARA DARLE ESTILO A LAS BARRAS NO EXISTEN!!, POR ESO NO SE VEN COMO DEBERIAN */
.chart-wrap .bar {
  width: var(--bar-value);
  height: var(--bar-thickness);
  margin: var(--bar-spacing) 0;
  background-color: var(--celeste);
  border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
  margin: 10px 0;
}

.chart-wrap .bar:hover {
  opacity: 0.7;
}
.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}
