header select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  color: var(--celeste);
  font-weight: bold;
}

header label {
  color: var(--celeste);
  font-weight: bold;
}

header ul {
  padding: 0 10px;
}

i {
  font-size: 16px;
  margin-right: 10px;
}

div p {
  color: white;
}

.titulo {
  width: 90%;
  margin: auto;
}

.titulo p {
  font-size: 14px;
  color: var(--celeste);
}

.agregar-informe-boton {
  background-color: var(--gris-claro);
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 5px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
}

.agregar-informe-boton:hover,
.boton-inicio:hover {
  color: var(--textos);
}

.main {
  width: 90%;
  margin: auto;
}

.main main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-cards {
  display: flex;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  width: 184px;
  height: 70px;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 12px;
}

.card div p {
  color: white;
}

.card div p:first-child {
  font-weight: bold;
}

.card:first-child {
  background-color: var(--celeste);
}

.card:nth-child(2) {
  background-color: var(--magenta);
}

.card:nth-child(3) {
  background-color: var(--morado);
}

.datos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  gap: 15px;
}

.agrupaciones-container,
.mapa,
.chart-wrap {
  border-radius: 25px;
  border: 1px solid var(--borde-Grilla);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex-grow: 1;
  width: 30%;
}

.agrupaciones-container h3 {
  font-weight: bold;
  padding: 1.8 rem 0 0 0;
  text-align: center;
  white-space: nowrap;
}

.separador {
  width: 95%;
  margin: auto;
  border: 1px solid rgb(199, 199, 199);
}

.agrupacion h3 {
  text-align: start;
  margin-left: 5px;
}

.agrupacion-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.agrupacion-texto .agrup-ind {
  display: flex;
  justify-content: space-between;
}

.agrupacion-texto h3 {
  font-size: 12px;
  font-weight: bold;
}

.agrupacion-texto p {
  font-size: 11px;
  color: var(--textos);
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.mapa,
.chart-wrap {
  overflow: hidden;
  text-align: center;
}

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapa-svg svg {
  width: 300px;
  height: 500px;
}

/*barra de progreso*/
.progress {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}
.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
}
.progress-bar-text {
  margin-left: 10px;
  font-weight: bold;
  color: var(--textos);
  font-size: 9px;
}

.mapa .chart-wrap {
  --chart-width: 260px;
  --grid-color: #aaa;
  --bar-thickness: 25px;
  --bar-rounded: 3px;
  --bar-spacing: 10px;
  font-family: sans-serif;
  width: var(--chart-width);
}
.chart-wrap .title {
  font-weight: bold;
  padding: 1.8em 0 2.8em;
  text-align: center;
  white-space: nowrap;
}
